<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <div class="card">
        <h2>Bem-vindo à Home</h2>
        <p th:text="'Olá, ' + ${#authentication.name} + '!'"></p>

        <div class="actions">
            <a href="/accounts/dashboard" class="btn-link">Dashboard</a>
            <a href="/logout" class="btn-link">Sair</a>
        </div>
    </div>
</div>
</body>
</html>
